@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body {
  /* border: yellow 1px solid; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center bottom;
  gap: 80px;
}

.image img {
  border: red 1px solid;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 650px;
  height: 650px;
  transition: 1s;
  border: none;
  margin-top: 50px;
}

/* .form_box { */
/* border: purple solid 1px; */
/* width: 430px; */
/* height: 570px; */
/* } */

.container {
  margin-top: 100px;
  width: 500px;
  height: 570px;
  border: blue 1px solid;
  background-color: aliceblue;
}

@media (max-width: 1130px) {
  .home {
    justify-content: space-around;
  }

  .body {
    justify-content: center;
    gap: 0px;
  }

  .image img {
    opacity: 0;
    transform: translateX(-300px);
    width: 0;
    height: 0;
  }
}

@media (max-width: 850px) {
  .image img {
    height: 560px;
  }
}

/* --- MOBILE RESPONSIVE --- */
/* Phone width */
@media (max-width: 455px) {
  .form_box {
    width: 90%;
  }
}

/* Phone height */
@media (max-height: 740px) {
  .form_box {
    height: 400px;
  }

  .body {
    height: 90%;
  }
}

@media (max-height: 800px) {
  .form_box {
    height: 90%;
    gap: 0px;
  }

  .body {
    height: 400px;
  }
}

@media (max-height: 800px) and (max-width: 1280px) {
  .body {
    height: 650px;
  }
}
