@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.home {
	/* border: yellow 1px solid; */
	/* background-color: black; */
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 750px;
	min-width: 360px;
	/* animation: fadeIn 1s ease-in forwards; Apply the fadeIn animation */
}

.body {
	/* border: yellow 1px solid; */
	display: flex;
	justify-content: space-around;
	gap: 40px;
	height: 100%;
}

.image {
	/* border: red 1px solid; */
	display: flex;
	align-items: end;
}

.image img {
	/* border: red 1px solid; */
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
	border: none;
}

.form_box {
	/* border: purple solid 1px; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 637px;
	height: 100%;
	min-height: 500px;
	min-width: 358px;

	flex-direction: column;
	gap: 50px;
	transition: 0.2s;
}

@media (max-width: 1570px) {
	.home {
		justify-content: space-around;
	}

	.body {
		justify-content: center;
		gap: 0px;
	}

	.image img {
		opacity: 0;
		transform: translateX(-300px);
		width: 0;
		height: 0;
	}
}

@media (max-width: 820px) {
	.form_box {
		min-width: auto;
		min-height: auto;
		width: 520px;
	}
}

@media (max-width: 550px) {
	.form_box {
		width: 390px;
	}
}

@media (max-width: 455px) {
	.body {
		width: 100%;
	}

	.form_box {
		width: 325px;
	}
}
