.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_title {
	margin: 0;
	display: flex;
	gap: 20px;
	font-size: 120px;
	font-family: "Rubik Bubbles", system-ui;
	font-weight: 1;
}

.header_title span {
	letter-spacing: 10px;
	background-image: linear-gradient(to bottom, #fcf010, #b86507);
	background-clip: text;
	color: transparent;
}

.body {
	display: flex;
	justify-content: space-around;
	padding: 0px 50px;
	border: red solid 1px;
}

.image {
	background-image: url(../public/get-started-img.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	width: 650px;
	height: 650px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

@media (max-width: 1140px) {
	.header_title {
		font-size: 120px;
	}
}

@media (max-width: 890px) {
	.header_title {
		font-size: 60px;
	}
}

.get_started {
	background-color: rgba(255, 255, 255, 0.486);
	backdrop-filter: blur(3px);
	border-radius: 15px;
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 400px;
	height: 500px;
	padding: 50px 10px;
}

.get_started_text h2 {
	font-size: 50px;
	font-family: "Sora", sans-serif;
	font-weight: 500;
}

.get_started_text h2,
.get_started_text p {
	text-align: center;
	border: red 1px solid;
}
