html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0;
}

body {
	background-image: url(../public/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

:root {
	--white-background: rgba(255, 255, 255, 0.486);
	--blur: blur(20px);
}