.button {
  height: 50px;
  width: 150px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(#ffe93f, rgb(215, 92, 21));
  border: none;
  border-radius: 35px;
  color: black;
  padding-top: 20px;
  padding-bottom: 50px;
  /* display: inline-block; */
  margin: 10px 5px;
  text-shadow: 2px 2px #c7c7c7;
}
.buttonText {
  text-decoration: none;
  color: black;
  font-family: "Sora, sans-serif";
  font-weight: bold;
  font-size: 26px;
}
@media (max-width: 772px) {
  .button {
    height: 25px;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .buttonText {
    font-size: 20px;
  }
}
