.subscription_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

.subscription_box {
	/* border: red 1px solid; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 25px;
	gap: 40px;
}

@media (max-width: 1570px) {
	.subscription_box {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 800px) {
	.subscription_box {
		grid-template-columns: 1fr;
	}
}
