fastapi == 0.110.0
elevenlabs == 0.2.27
elevenlabslib == 0.20.0
SpeechRecognition == 3.10.1
audioread == 3.0.1
sympy == 1.12
textblob == 0.17.1
pydantic == 2.6.3
pydantic_core == 2.16.3
python-dotenv == 1.0.1
ffmpeg-python == 0.2.0
microphone == 0.3.1
PyAudio==0.2.11
uvicorn == 0.27.1